@model MinhaCarteira.Cliente.Recursos.Models.CategoriaViewModel

@{
    await Html.RenderPartialAsync("_PartialAlertas");
    ViewData["Title"] = "Categoria";
    ViewData["Icone"] = "<i class='fa fa-square-check fa-lg text-primary'></i>";
}

<h1>Detalhes</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.IdAuxiliar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.IdAuxiliar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.IdCategoriaPai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.IdCategoriaPai)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Alterar", "Alterar", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
