@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - MinhaCarteira.Cliente.AppWebMvc</title>
    <meta name="theme-color" content="#F0F0F0" />

    <link href="img/splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="img/splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="img/splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="img/splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="img/splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="img/splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="img/splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="img/splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="img/splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="img/splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

    <environment include="Development">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="manifest" href="/manifest.json">
    </environment>
    <environment include="Production">
        <link rel="icon" type="image/x-icon" href="/minhacarteira/cliente/favicon.ico">
        <link rel="manifest" href="/minhacarteira/cliente/manifest.production.json">
    </environment>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap&text=dhaniprojetos" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
    <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/solid.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>

@{

    var preferencias = HttpContextAccessor.HttpContext
        .Request
        .Cookies["CondicaoSidebar"];

    var sidebarInicial = preferencias ?? "sidebar-open";


    /*
    var identity = User.Identity as System.Security.Claims.ClaimsIdentity;
    var condicaoSidebar = identity?.Claims?
        .FirstOrDefault(x => x.Type.Equals("condicaoSidebar", StringComparison.OrdinalIgnoreCase))?
        .Value;

    if (condicaoSidebar != null)
        sidebarInicial = condicaoSidebar;

    var preferencias = userPreferencias?
        .Split(new[] { ";" }, StringSplitOptions.RemoveEmptyEntries)
        .Select(s => s.Split('='))
        .ToDictionary(x => x[0], y => y[1]);

    if (preferencias != null && preferencias.ContainsKey("remember.lte.pushmenu"))
        sidebarInicial = preferencias["remember.lte.pushmenu"];
    */
}

<body class="sidebar-mini layout-fixed layout-navbar-fixed @sidebarInicial" data-preload-duration="100">
    <div class="wrapper shadow">
        <!-- Preloader -->
        <div class="preloader d-sm-none flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/img/dhani.png" alt="Icone DhaniProjetos" height="48" width="96">
            <span class="brand-text" style="font-family: 'Raleway', sans-serif;">dhani projetos</span>
        </div>

        <header class="main-header">
            <nav class="navbar navbar-expand bg-light shadow-sm">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <!--data-enable-remember="true"-->
                        <a class="nav-link" data-widget="pushmenu"
                           href="#" role="button" style="padding-top:10px;">
                            <i class="fas fa-bars"></i>
                        </a>
                    </li>
                </ul>

                <a class="navbar-brand text-truncate" asp-action="Index">
                    <span class="me-0 fs-5 text-truncate">
                        @*@Html.Raw(ViewData["Icone"])*@
                        <span class="align-middle">@ViewData["Title"]</span>
                    </span>
                </a>

                @if (ViewData["LinkNovo"] != null)
                {
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <a class='btn btn-success' href="@ViewData["LinkNovo"]">
                                <i class='fa fa-add d-none'></i>
                                <span>Novo</span>
                            </a>
                        </li>
                    </ul>
                }
            </nav>
        </header>

        <aside class="main-sidebar sidebar-dark-light elevation-3">
            <a class="brand-link text-decoration-none ps-1 pt-3"
               asp-area="" asp-controller="Home" asp-action="Index">
                <img class="brand-image ms-0" src="~/img/dhani.png" alt="Icone DhaniProjetos">
                <span class="brand-text">dhani projetos</span>
            </a>

            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <ul class="nav nav-pills nav-sidebar flex-column" id="menuLogin" data-widget="treeview" role="menu" data-accordion="false">
                        @if (User.Identity is not { IsAuthenticated: true })
                        {
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Usuario" asp-action="Logar" class="nav-link">
                                    <i class="nav-icon fas fa-user"></i>
                                    <p>Login</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-user"></i>
                                    <p>
                                        <span class="d-inline-block text-truncate"
                                              style="max-width: 155px;">
                                            @User.Claims.FirstOrDefault(w => w.Type == "FullName").Value
                                        </span>

                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>

                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Sair">
                                            <i class="nav-icon fa fa-door-open"></i> <p>Sair</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" id="menuLateral" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a is-active-route class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="nav-icon fa fa-home-alt"></i> <p>Home</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a is-active-route class="nav-link" asp-area="" asp-controller="Agendamento" asp-action="Index">
                                <i class="nav-icon fa fa-calendar-day"></i> <p>Agendamento</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a is-active-route class="nav-link" asp-area="" asp-controller="MovimentoBancario" asp-action="Index">
                                <i class='nav-icon fa fa-arrow-down-1-9'></i> <p>Movimento</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a is-active-route class="nav-link" asp-area="" asp-controller="ContaBancaria" asp-action="Index">
                                <i class='nav-icon fa fa-credit-card'></i> <p>Contas</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a is-active-route class="nav-link" asp-area="" asp-controller="Pessoa" asp-action="Index">
                                <i class='nav-icon fa fa-user'></i> <p>Cliente / Fornecedor</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a is-active-route class="nav-link" asp-area="" asp-controller="Categoria" asp-action="Index">
                                <i class='nav-icon fa fa-square-check'></i> <p>Categoria</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a is-active-route class="nav-link" asp-area="" asp-controller="CentroClassificacao" asp-action="Index">
                                <i class='nav-icon fa fa-house'></i> <p>Centro de Classificação</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a is-active-route class="nav-link" asp-area="" asp-controller="InstituicaoFinanceira" asp-action="Index">
                                <i class='nav-icon fa fa-building-columns'></i> <p>Instituição</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a is-active-route class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class='nav-icon fa fa-key'></i> <p>Privacy</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div id="wipearea" class="d-sm-none position-absolute h-100" style="width:25px; z-index:0;"></div>
        <main class="content-wrapper">
            <section class="container-fuid p-3 pe-xl-3 ps-xxl-5 pe-xxl-5" role="main">
                @RenderBody()
            </section>
        </main>

        <footer class="main-footer">
            <strong>Copyright ©@DateTime.Now.Year <a class="link-primary text-decoration-none" href="https://dhaniprojetos.com">DhaniProjetos</a>.</strong>
            Todos os direitos reservados.
            <div class="float-right d-none d-sm-inline-block">
                <b>Versão</b> 1.2.0
            </div>
        </footer>
    </div>

    @if (!String.IsNullOrWhiteSpace(Context.Request.PathBase.Value))
    {
        <script type="text/javascript">
            /* LIVE - includes virtual directory */
            window.siteRoot = "@Context.Request.Scheme" + "://" + "@Context.Request.Host.Value" + "@Context.Request.PathBase.Value" + "/";
        </script>
    }
    else
    {
        <script type="text/javascript">
            /* DEBUG - no virutal directory, e.g. IIS Express */
            window.siteRoot = "@Context.Request.Scheme" + "://" + "@Context.Request.Host.Value" + "/";
        </script>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/lib/admin-lte/js/adminlte.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/someeRemoveAds.js" asp-append-version="true"></script>
    <script src="~/js/gestos.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
