@model MinhaCarteira.Cliente.Recursos.Models.MovimentoBancarioViewModel

@{
    await Html.RenderPartialAsync("_PartialAlertas");
    ViewData["Title"] = "Movimentos Bancários";
    ViewData["Icone"] = "<i class='fa fa-arrow-down-1-9 fa-lg text-primary'></i>";
}

<h1>Deletar</h1>
<h3>Tem certeza que deseja remover este registro?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.TipoMovimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.TipoMovimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.DataMovimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.DataMovimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.IdAuxiliar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.IdAuxiliar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.ValorReal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.ValorReal)
        </dd>
    </dl>

    <form asp-action="Deletar">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="PessoaId" />
        <input type="hidden" asp-for="CategoriaId" />
        <input type="hidden" asp-for="ContaBancariaId" />
        <input type="hidden" asp-for="CentroClassificacaoId" />

        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.ContaBancariaId">Back to List</a>
    </form>
</div>
