@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using MinhaCarteira.Comum.Definicao.Modelo;
@model MinhaCarteira.Cliente.Recursos.Models.ListaMovimentoBancarioViewModel

@{
    await Html.RenderPartialAsync("_PartialAlertas");
    var id = ViewContext.RouteData.Values["id"] ?? "1";

    ViewData["Title"] = "Movimentos Bancários";
    ViewData["Icone"] = "<i class='fa fa-arrow-down-1-9 fa-lg text-primary'></i>";
    ViewData["LinkNovo"] = Url.Action("Criar", new { idContaBancaria = id });
}
@section Scripts{
    <script src="~/js/views/paginacao.js" asp-append-version="true"></script>
}

<div class="accordion mb-3">
    <div class="accordion-item">
        <div>
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Filtros
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body p-0">
                <form asp-action="Index" method="get" class="p-3" id="formBusca">
                    <input id="page" name="page" type="hidden" />

                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <label asp-for="OpcaoAtual.NomePropriedade" class="form-label"></label>
                            <input asp-for="OpcaoAtual.NomePropriedade" class="form-control" />
                            <span asp-validation-for="OpcaoAtual.NomePropriedade" class="text-danger"></span>
                        </div>

                        <div class="col-sm-3 col-lg-2">
                            <label asp-for="OpcaoAtual.Operador" class="form-label"></label>
                            <select asp-for="OpcaoAtual.Operador" class="form-select">
                                @foreach (var c in Enum.GetValues(typeof(TipoOperadorBusca)).Cast<TipoOperadorBusca>())
                                {
                                    <option value="@c">@c</option>
                                }
                            </select>
                            <span asp-validation-for="OpcaoAtual.Operador" class="text-danger"></span>
                        </div>

                        <div class="col-sm-6">
                            <label asp-for="OpcaoAtual.Valor" class="form-label"></label>
                            <input asp-for="OpcaoAtual.Valor" class="form-control" />
                            <span asp-validation-for="OpcaoAtual.Valor" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row justify-content-end pe-2">
                        <button class="btn btn-primary col-5 col-sm-2 col-lg-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                            <span>Buscar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row m-0">
    <div class="d-flex flex-column col-md-6 col-lg-4 col-xl-3">
        <button class="navbar-toggler text-start"
                type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarSupportedContent"
                aria-controls="sidebarSupportedContent"
                aria-expanded="true" aria-label="Toggle navigation"
                style="height: 24px;">
            <i class="fas fa-align-left"></i>
            <span>Conta bancária</span>
        </button>

        <hr style="border: 0px; border-top: solid 2px #000; opacity: 1;">
        <ul class="nav nav-pills flex-column collapse show" id="sidebarSupportedContent">

            @if ((ViewBag?.RetornoApi == null || ViewBag?.RetornoApi.BemSucedido) && (Model.Contas == null || !Model.Contas.Any()))
            {
                <li class="nav-item">
                    <div class="p-0 pb-1 bg-light rounded-3">
                        <div class="container-fluid">
                            <h1 class="display-5 fw-bold">Contas</h1>
                            <p class="fs-5">Você não possui nenhuma conta bancária a ser listada por aqui.</p>
                            <p class="fs-6">Clique no botão abaixo para cadastrar uma nova conta bancária.</p>

                            <a class="btn btn-lg mb-3 btn-primary" asp-action="Criar" asp-controller="ContaBancaria" asp-route-idContaBancaria="@id" role="button">
                                Cadastrar
                            </a>
                        </div>
                    </div>
                </li>
            }
            else
            {
                @foreach (var contaBancaria in Model.Contas)
                {
                    var corFont = contaBancaria.Id.ToString() == id?.ToString()
                        ? "text-light"
                        : contaBancaria.ValorSaldoAtual > 0
                            ? "text-primary"
                            : contaBancaria.ValorSaldoAtual < 0
                                ? "text-danger"
                                : "text-secondary";

                    var classe = contaBancaria.Id.ToString() == id?.ToString()
                        ? "active bg-secondary fw-bold" : "";

                    <li class="nav-item col-sm-12">
                        <a asp-action="Index" asp-route-id="@contaBancaria.Id" class="nav-link link-dark shadow-sm border p-2 m-0 mb-1 @classe">
                            @if (!string.IsNullOrWhiteSpace(contaBancaria.InstituicaoFinanceira.Icone))
                            {
                                <img src="data:@contaBancaria.InstituicaoFinanceira.MimeType;base64,@contaBancaria.InstituicaoFinanceira.Icone"
                                     height="48" width="48" asp-append-version="true" class="float-start" />
                            }
                            <div class="p-0 ps-2 pe-1 text-truncate">
                                <span class="text-break">@contaBancaria.Nome</span><br />
                                <small class="@corFont text-end">@Html.DisplayFor(modelItem => contaBancaria.ValorSaldoAtual)</small>
                            </div>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>

    <div class="table-responsive col-md-6 col-lg-8 col-xl-9" id="no-more-tables">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:50px;"></th>
                    <th style="width:10px;"></th>
                    <th class="text-end" style="width:80px;">
                        Data
                    </th>
                    <th class="text-end" style="width:140px;">
                        Valor
                    </th>
                    <th>
                        Descrição
                    </th>
                    <th style="width: 190px;">Ações</th>
                </tr>
            </thead>
            <tbody>
                @if ((ViewBag?.RetornoApi == null || ViewBag?.RetornoApi.BemSucedido) && (Model.Movimentos == null || Model.Movimentos.Count <= 0))
                {
                    <tr class="align-middle">
                        <td colspan="6" class="p-0 m-0">
                            <div class="p-5 mb-4 bg-light rounded-3">
                                <div class="container-fluid">
                                    <h1 class="display-5 fw-bold">Movimento Bancário</h1>
                                    <p class="col-md-12 fs-4">Você não possui nenhum movimento bancário a ser listado por aqui.</p>
                                    <p class="col-md-12 fs-6">Verifique as contas cadastradas e tente cadastrar um novo item.</p>

                                    @{
                                        var classeBotao = Model.Contas.Count > 0
                                        ? "btn-primary"
                                        : "btn-secondary disabled";
                                    }
                                    <a class="btn btn-lg @classeBotao" asp-action="Criar" asp-route-idContaBancaria="@id" role="button">
                                        Cadastrar
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model.Movimentos)
                    {
                        var corFundoConciliada = item.AgendamentoItemId != null
                        ? "bg-success bg-opacity-10"
                        : string.Empty;

                        var corFont = item.ValorReal > 0
                        ? "text-primary"
                        : item.ValorReal < 0
                        ? "text-danger"
                        : "text-secondary";

                        <tr class="align-middle">
                            <td data-title="Categoria">
                                <img src="data:@item.Categoria.MimeType;base64,@item.Categoria.IconeCategoria"
                                     title="@item.Categoria.Nome"
                                     height="42" width="42"
                                     alt="@item.Categoria.Nome"
                                     class="d-none d-sm-inline"
                                     asp-append-version="true" />

                                <span class="d-sm-none">
                                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                                </span>
                            </td>
                            <td data-title="Conciliada?" class="@corFundoConciliada">
                                @if (item.AgendamentoItemId != null)
                                {
                                    <span class="d-sm-none">Sim</span>
                                    <i class="text-success fa fa-link"></i>
                                }
                                else
                                {
                                    <span class="d-sm-none">Não</span>
                                }
                            </td>
                            <td data-title="Data">
                                @Html.DisplayFor(modelItem => item.DataMovimento)
                            </td>
                            <td data-title="Valor" class="text-end fw-bold fs-6 @corFont">
                                @Html.DisplayFor(modelItem => item.ValorReal)
                            </td>
                            <td data-title="Descrição">
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td data-title="Ação">
                                <a title="Alterar" class="btn btn-outline-primary p-0 pt-1 pb-1" style="width: 40px;" asp-action="Alterar" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-lg fa-pen-to-square"></i>
                                </a>
                                <a title="Detalhes" class="btn btn-outline-success p-0 pt-1 pb-1" style="width: 40px;" asp-action="Detalhes" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-lg fa-info-circle"></i>
                                </a>
                                <a title="Remover" class="btn btn-outline-danger p-0 pt-1 pb-1" style="width: 40px;" asp-action="Deletar" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-lg fa-trash-can"></i>
                                </a>
                                <a title="Clonar registro" class="btn btn-outline-info p-0 pt-1 pb-1" style="width: 40px;" asp-action="Clonar" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-lg fa-clone"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @if (Model.Movimentos.Count > 0)
        {
            <div style="float: right">
                Página @(Model.Movimentos.PageCount < Model.Movimentos.PageNumber ? 0 : Model.Movimentos.PageNumber) de @Model.Movimentos.PageCount
            </div>

            @Html.PagedListPager(
        Model.Movimentos,
        page => Url.Action("Index", new { page }),
        new PagedListRenderOptions
        {
        PageClasses = new string[] { "page-link" },
        UlElementClasses = new string[] { "pagination justify-content-center" },
        LiElementClasses = new string[] { "page-item" },
        DisplayItemSliceAndTotal = false,
        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
        })
        }
    </div>
</div>