@model MinhaCarteira.Cliente.Recursos.Models.ListaMovimentoBancarioViewModel

@{
    ViewData["Title"] = "Index";
    var id = ViewContext.RouteData.Values["id"] ?? "1";
}

<h1>Index</h1>
@{
    await Html.RenderPartialAsync("_PartialAlertas");
}

<p>
    <a asp-action="Criar" asp-route-idContaBancaria="@id">Create New</a>
</p>

<div class="row">
    <div class="d-flex flex-column col-md-3 col-sm-4">
        <button class="navbar-toggler text-start"
                type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarSupportedContent"
                aria-controls="sidebarSupportedContent"
                aria-expanded="true" aria-label="Toggle navigation"
                style="height: 24px;">
            <i class="fas fa-align-left"></i>
            <span>Conta bancária</span>
        </button>

        <hr style="border: 0px; border-top: solid 2px #000; opacity: 1;">
        <ul class="nav nav-pills flex-column collapse show" id="sidebarSupportedContent">
            @foreach (var contaBancaria in Model.Contas)
            {
                var corFont = contaBancaria.Id.ToString() == id?.ToString()
                ? "text-light"
                : contaBancaria.ValorSaldoAtual > 0
                ? "text-primary"
                : contaBancaria.ValorSaldoAtual < 0
                ? "text-danger"
                : "text-secondary";

                var classe = contaBancaria.Id.ToString() == id?.ToString()
                ? "active" : "";

                <li class="nav-item">
                    <a asp-action="Index" asp-route-id="@contaBancaria.Id" class="nav-link link-dark @classe">
                        @if (!string.IsNullOrWhiteSpace(contaBancaria.InstituicaoFinanceira.Icone))
                        {
                            <img src="data:@contaBancaria.InstituicaoFinanceira.MimeType;base64,@contaBancaria.InstituicaoFinanceira.Icone"
                                 height="32" width="32" asp-append-version="true" class="float-start align-middle mt-2 me-2" />
                        }
                        <div>
                            <span>@contaBancaria.Nome</span><br />
                            <small class="@corFont text-end">@Html.DisplayFor(modelItem => contaBancaria.ValorSaldoAtual)</small>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="col-md-9 col-sm-8 table-responsive" id="no-more-tables">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:50px;"></th>
                    <th style="width:10px;"></th>
                    <th class="text-end" style="width:80px;">
                        Data
                    </th>
                    <th class="text-end" style="width:140px;">
                        Valor
                    </th>
                    <th>
                        Descrição
                    </th>
                    <th style="width: 190px;">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Movimentos)
                {
                    var corFundoConciliada = item.AgendamentoItemId != null
                        ? "bg-success bg-opacity-10"
                        : string.Empty;

                    var corFont = item.ValorReal > 0
                        ? "text-primary"
                        : item.ValorReal < 0
                            ? "text-danger"
                            : "text-secondary";

                    <tr class="align-middle">
                        <td data-title="Categoria">
                            <img src="data:@item.Categoria.MimeType;base64,@item.Categoria.IconeCategoria"
                                 title="@item.Categoria.Nome"
                                 height="42" width="42"
                                 alt="@item.Categoria.Nome"
                                 class="d-none d-sm-inline"
                                 asp-append-version="true" />

                            <span class="d-sm-none">
                                @Html.DisplayFor(modelItem => item.Categoria.Nome)
                            </span>
                        </td>
                        <td data-title="Conciliada?" class="@corFundoConciliada">
                            @if (item.AgendamentoItemId != null)
                            {
                                <span class="d-sm-none">Sim</span>
                                <i class="text-success fa fa-link"></i>
                            }
                            else
                            {
                                <span class="d-sm-none">Não</span>
                            }
                        </td>
                        <td data-title="Data">
                            @Html.DisplayFor(modelItem => item.DataMovimento)
                        </td>
                        <td data-title="Valor" class="text-end fw-bold fs-6 @corFont">
                            @Html.DisplayFor(modelItem => item.ValorReal)
                        </td>
                        <td data-title="Descrição">
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td data-title="Ação">
                            <a title="Alterar" class="btn btn-outline-primary p-0 pt-1 pb-1" style="width: 40px;" asp-action="Alterar" asp-route-id="@item.Id">
                                <i class="fa-solid fa-lg fa-pen-to-square"></i>
                            </a>
                            <a title="Detalhes" class="btn btn-outline-success p-0 pt-1 pb-1" style="width: 40px;" asp-action="Detalhes" asp-route-id="@item.Id">
                                <i class="fa-solid fa-lg fa-info-circle"></i>
                            </a>
                            <a title="Remover" class="btn btn-outline-danger p-0 pt-1 pb-1" style="width: 40px;" asp-action="Deletar" asp-route-id="@item.Id">
                                <i class="fa-solid fa-lg fa-trash-can"></i>
                            </a>
                            <a title="Clonar registro" class="btn btn-outline-info p-0 pt-1 pb-1" style="width: 40px;" asp-action="Clonar" asp-route-id="@item.Id">
                                <i class="fa-solid fa-lg fa-clone"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>