@model MinhaCarteira.Cliente.Recursos.Models.AgendamentoViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>AgendamentoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdAuxiliar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAuxiliar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorReal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorReal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoriaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CaminhoCategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CaminhoCategoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CentroClassificacaoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CentroClassificacaoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCentroClassificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeCentroClassificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PessoaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomePessoa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomePessoa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContaBancariaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContaBancariaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeContaBancaria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeContaBancaria)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Alterar", "Alterar", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
