@model MinhaCarteira.Cliente.Recursos.Models.PessoaViewModel

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PessoaViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.IdAuxiliar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.IdAuxiliar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.EhCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.EhCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(m => m.EhFornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.EhFornecedor)
        </dd>
    </dl>
    
    <form asp-action="Deletar">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
