@model IEnumerable<MinhaCarteira.Cliente.AppWebMvc.ViewModel.PessoaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAuxiliar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EhCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EhFornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAuxiliar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EhCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EhFornecedor)
                </td>
                <td>
                    @Html.ActionLink("Alterar", "Alterar", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
                    @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
